/* src/components/Dashboard.css */

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0; /* Cor de fundo do header */
  border-bottom: 2px solid #ccc; /* Linha de separação */
  text-align: right; /* Centraliza o conteúdo do header */
}

.school-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.welcome-message {
  font-size: 18px;
  color: #333;
}

.dashboard-content {
  padding: 20px;
  text-align: center; /* Centraliza o conteúdo dentro do dashboard */
}

.scores-div {
  width: 700px;
  margin: 0 auto; /* Centraliza a div de notas */
}

.scoresTitle {
  text-align: center;
  margin: 20px 0;
}

.scores-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.scores-table th,
.scores-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.scores-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.scores-table tr:hover {
  background-color: #f5f5f5;
}

.classTitle {
  text-align: center; /* Centraliza o texto horizontalmente */
  margin: 20px 0; /* Adiciona margem superior e inferior para espaçamento */
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centraliza a grade */
  gap: 16px;
  margin-top: 20px;
  max-width: calc(3 * 360px + 2 * 16px); /* largura máxima = 3 cards + 2 gaps */
  margin-left: auto;
  margin-right: auto; /* centraliza o container na página */
}

.class-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 320px; /* largura fixa */
  transition: transform 0.2s;
}

.class-card:hover {
  transform: scale(1.05); /* Aumenta um pouco o card ao passar o mouse */
}


.admin-register-card {
  background-color: #007bff; /* Azul padrão */
  color: white;
  padding: 15px;
  margin: 20px auto; /* Centraliza o card de registro */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 300px;
}

.admin-register-card:hover {
  background-color: #0056b3; /* Azul escuro ao passar o mouse */
}

.footer-space {
  height: 50px;
}
